.expertise {
  background-size: 100% 100%;
  height: 78vh;
  text-align: center;
  color: black;
  width: 1600px;
  margin: 20px auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.expertise-container {
  display: grid;
  width: 950px;
  display: grid;
  /* grid-gap: 0px; */
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 160px 250px 250px;
}

.expertise-title {
  grid-column: 1/-1;
  margin-top: 22px;
  margin-bottom: 25px;
  font-family: "Playfair Display";
}
.expertise-title > h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 1.375rem;
  margin-bottom: 6px;
  color: #413d4b;
}

.expertise-title > p {
  font-family: "Playfair Display", serif;
  font-weight: regular;
  margin-top: 3px;
  font-size: 0.875rem;
  color: hsla(257, 7%, 19%, 0.932);
  letter-spacing: 0.7px;
  line-height: 23px;
}

.expertise-title-text > span {
  padding-bottom: 20px;
  border-bottom: 1.5px solid rgba(49, 47, 47, 0.295);
}
.expertise-card-container {
  /* grid-column: span 12; */
  display: flex;
  width: 950px;
  flex-wrap: wrap;
}

.expertise-card {
  width: 314.5px;
  height: 235px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 0.5px solid rgba(153, 153, 153, 0.267);
  border-collapse: collapse;
  padding-top: 12px;
}

.expertise-card-text > h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 0.875rem;
  color: #413d4b;
  letter-spacing: 0.5px;
}

.expertise-card-text > p {
  font-family: "Roboto", sans-serif;
  font-weight: light;
  font-size: 0.875rem;
  color: hsla(0, 0%, 20%, 0.932);
  letter-spacing: 0.5px;
  padding: 0 35px;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.top-border-none {
  border-top-style: none;
}

.left-border-none {
  border-left-style: none;
}

.right-border-none {
  border-right-style: none;
}

.bottom-border-none {
  border-bottom-style: none;
}
